@{
    ViewData["Title"] = "Home Page";
}



@*Carrousel *@

<div class="hero">
   <img src="~/img/background-3.jpg" alt="background 1">
     <div class="lines">
         <img class="line-top" src="~/img/line_top.png" alt="line top">
                   <p>Nosso casamento</p>
        <h3>Karoline e Marco</h3>
         <img class="line-botton" src="~/img/line_bottom.png" alt="line botton">
      </div>
</div>



<div class="ContainerC">
    <h1 id="headline">29 de julho, 2023</h1>
    <div id="countdown">
        <ul>
            <li><span id="days"></span>dias</li>
            <li><span id="hours"></span>horas</li>
            <li><span id="minutes"></span>minutos</li>
            <li id="seconds-li"><span id="seconds"></span>segundos</li>
        </ul>
    </div>
    <div class="flower-botton">
        <img src="~/img/green-flower.png" alt="Green flower at the botton" />
    </div>
    <div id="content" class="emoji">
        <span>🎉</span>
        <span>🎉</span>
        <span>🎉</span>
    </div>
</div>