@{
    ViewData["Title"] = "Home Page";
}



@*Carrousel *@


<div class="carousel">
    <div class="slide active">
        @*<img src="~/img/background1.jpg" alt="background 1">*@
           <div class="linhas">
                 <img class="linhas" src="~/img/line_top.png" alt="line top">
                 <img class="linhas" src="~/img/line_bottom.png" alt="line botton">
           </div>
    </div>

    <div class="slide">
      @*  <img src="~/img/background2.jpg" alt="background 2">*@
            <div class="linhas">
                 <img class="linhas" src="~/img/line_top.png" alt="line top">
                 <img class="linhas" src="~/img/line_bottom.png" alt="line botton">
           </div>
     </div>
 </div>

