@{
    ViewData["Title"] = "Home Page";
}



@*Carrousel *@

<div class="hero">
   <img src="~/img/background-3.jpg" alt="background 1">
     <div class="lines">
         <img class="line-top" src="~/img/line_top.png" alt="line top">
                   <p>Nosso casamento</p>
        <h3>Karoline e Marco</h3>
         <img class="line-botton" src="~/img/line_bottom.png" alt="line botton">
      </div>
</div>

