/*font-face Alex brush*/
@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Poppins:wght@400;500&display=swap");
@keyframes heartbeat {
  0% {
    transform: scale(0.98);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.98);
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(0.98);
  }
  100% {
    transform: scale(0.98);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mobyle-br {
  display: none;
}

html,
body {
  height: 100%;
  /*background-color: black;*/
}

.hero {
  position: relative;
  height: 100vh;
}
.hero img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.lines {
  min-width: 37%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 8%;
}
.lines p {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  color: white;
  font-weight: 400;
  margin: 0;
  padding: 15px 0px 0px 0px;
}
.lines h3 {
  font-family: "Alex Brush", cursive;
  padding: 15px 0px 15px 0px;
  font-size: 5rem;
  color: white;
  font-weight: 400;
  margin: 0;
  animation: heartbeat 1.5s infinite;
}
.lines img {
  position: relative;
  max-width: 38%;
  height: auto;
  margin-bottom: 10px;
  margin: auto;
}

@media (max-width: 1025px) {
  .lines {
    min-width: 75%;
  }
  .lines img {
    max-width: 32%;
  }
}
@media (max-width: 685px) {
  .lines {
    min-width: 80%;
  }
  .lines img {
    max-width: 38%;
  }
  .lines p {
    font-size: 1.2rem;
    padding: 8px 0px 0px 0px;
  }
  .lines h3 {
    padding: 5px 0px 0px 0px;
    font-size: 4rem;
    color: white;
    margin: 0;
  }
}
@media (max-width: 500px) {
  .lines {
    min-width: 95%;
  }
  .lines img {
    max-width: 40%;
  }
  .lines p {
    font-size: 1.5rem;
    padding: 0px 0px 0px 0px;
  }
  .lines h3 {
    padding: 0px 0px 0px 0px;
    font-size: 4.9rem;
    color: white;
    margin: 0;
  }
}
